body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

form {
    width: 500px;
    float: left;
    margin: 20px auto;
    margin-top: 0px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-top: 0px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    margin-bottom: 8px;
}

h2 {
    color: #333;
}

.available-domains {
    background-color: #d4edda;
    color: #155724;
    border-radius: 8px;
    margin: 30px;
    width: 500px;
    float: center;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: #ff0000;
    margin: 30px;
    margin-top: 10px;
}

.checkbox-container {
    display: flex;
    align-items: left;
    margin-bottom: 1px;
    padding: 0px;

}
.half {
     flex: 0 0 300px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
