<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Domain Generator and Checker</h1>
    <form method="post">
        <label for="prefix">Введите имя (без доменной зоны  ): </label>
        <input type="text" name="prefix" required>
        <br>
        <label for="num_domains">Введите количество доменов: </label>
        <input type="number" name="num_domains" value="3" required>
        <br>
        <label for="num_digits">Введите количество цифр в домене: </label>
        <input type="number" name="num_digits" value="4" required>
        <br>
        <div class="checkbox-container">
        <div class="half"><label for="digits_position"><b>Цифры перед доменом</b></label></div>
        <input type="checkbox" name="digits_position" value="before">
      </div>
        <br>
        <div class="checkbox-container">
          <div class="half"><label for="v3"><b>Генерировать без '-' </b></label></div>
        <input type="checkbox" name="v3">
        </div>
        <br>
        <input type="submit" value="Подобрать">
    </form>
  <div class="available-domains">
    {% if error_messages %}
    <div class="error-message">

        <h2>Error:</h2>
        <ul>
            {% for error in error_messages %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if generated_domains %}
        <h2>Доступные домены:</h2>
        <ul>
            {% for domain in generated_domains %}
            <li><a href="//{{ domain }}" target="_blank">{{ domain }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
  </div>
</body>
</html>
